<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <tr>
                    <td><strong>List of fiction book genres</strong></td>
                    <td ><strong>List of nonfiction book genres</strong></td>
                </tr>
                <tr>
                    <td>Fantasy</td>
                    <td>Cookbook</td>
                </tr>
                <tr>
                    <td>Adventure</td>
                    <td>Memoir</td>
                </tr>
                <tr>
                    <td>Contemporary</td>
                    <td>Motivational</td>
                </tr>
                <tr>
                    <td>Dystopian</td>
                    <td>History</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>            